doctype html
html
    head
        include header.pug
    body.body-small.pace-done(scroll="no" style="overflow: hidden; position:fixed; width: 100%;" background='/assets/img/main_bg.png')
        div(id="page-wrapper")
            .row(style="margin-top: 5px; margin-left: 10px;")
                a(href= "/hintScene")
                    img(src='/assets/img/arrowback.svg' style = "margin-left: 10px; width: 30px; height: 30px; margin-top: 20px; margin-right:20%")  
            .row(style="margin-top: 35%;")
                div.text-center(style="align-items:center;")
                    h1(style = "font-size: 25px; color: white; font-weight: bold;") Who killed the prince?
                    div.row(style= "margin: 7%")
                    h3(style = "font-size: 15px; color: white;") 당신이 생각한 범인은 누구입니까?
                    
            .container(style="margin-top: 20%; margin-bottom: 5%")
                .row(style="margin-bottom: 20px; margin-left: 15px; margin-right: 15px; max-height: 200px; height: 100px")
                    div.col-lg-2.col-md-3.col-sm-6.col-xs-6.text-center
                        a.btn.btn-default.btn-lg.btn-rounded(style="width: 70px; height: 70px;" data-toggle="modal" href="#person1")
                    div.col-lg-2.col-md-3.col-sm-6.col-xs-6.text-center
                        a.btn.btn-default.btn-lg.btn-rounded(style="width: 70px; height: 70px;" data-toggle="modal" href="#person2")
                div.row(style="margin-top: 0px; margin-bottom: 10px;")
                    div.col-lg-2.col-md-3.col-sm-4.col-xs-4.text-center
                        a.btn.btn-default.btn-lg.btn-rounded(style="width: 70px; height: 70px;" data-toggle="modal" href="#person3")
                    div.col-lg-2.col-md-3.col-sm-4.col-xs-4.text-center
                        a.btn.btn-default.btn-lg.btn-rounded(style="width: 70px; height: 70px;" data-toggle="modal" href="#person4")
                    div.col-lg-2.col-md-3.col-sm-4.col-xs-4.text-center
                        a.btn.btn-default.btn-lg.btn-rounded(style="width: 70px; height: 70px;" data-toggle="modal" href="#person5")

                div.modal.fade(id="person1" aria-hidden="true" style="display: none;")
                        div.modal-dialog
                            div.modal-content
                                div.modal-body
                                    div.row
                                        p(style = "color: #27375C; font-size: ")
                div.modal.fade(id="person2" aria-hidden="true" style="display: none;")
                        div.modal-dialog
                            div.modal-content
                                div.modal-body
                                    div.row
                                        p 힌트 어쩌구저쩌구
                div.modal.fade(id="person3" aria-hidden="true" style="display: none;")
                        div.modal-dialog
                            div.modal-content
                                div.modal-body
                                    div.row
                                        p 힌트 어쩌구저쩌구
                div.modal.fade(id="person4" aria-hidden="true" style="display: none;")
                        div.modal-dialog
                            div.modal-content
                                div.modal-body
                                    div.row
                                        p 힌트 어쩌구저쩌구 
                div.modal.fade(id="person4" aria-hidden="true" style="display: none;")
                        div.modal-dialog
                            div.modal-content
                                div.modal-body
                                    div.row
                                        p 힌트 어쩌구저쩌구    
            //- .row(style="margin-top: 60%;")
            //-     center
            //-         a.btn.btn-default.btn-lg.btn-rounded(href="/scene2" style="width: 200px; height: 50px;") LET'S FIND!

        include script.pug