doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous") 
    body
        .row
            .col
            .col
                .container
                    form.px-4.py-3(action="/login" method="POST")
                        h2.form.signin-heading.text-center Please sign in
                        label.sr-only(for="inputEmail") Email address
                        input.form-control.mt-3.mb-3(name="username" placeholder="Email address" type="username")
                        label.sr-only(for="inputPassword") Password
                        input.form-control.mt-3.mb-3(name="password" placeholder="Password" type="password")
                        div.form-check.mb-3
                            
                        button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
                        
                    div.dropdown-divider
                    a.dropdown-item(href="/signup") New around here? Sign up
            div.col