doctype html
html
    head
        include header.pug
        //script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=90c0910605f2adef29acb0174f022d52")
    body.body-small.pace-done(style="background-color: rgn(247,246,246);")
        div.row(div style="width: 120%; height: 45%;")
            //- a(href= "/hintScene")
            //-     img(src='/assets/img/arrowback.svg' style = "margin-left: 15px; width: 30px; height: 30px; margin-top: 10px; margin-right:20%")
            img(src='/assets/img/map.png' style='width: 90%; height: 100%;')
        //div.container-fluid(style="width: 102%")
        .row(div style = "margin: 15px")
        p
        .container(style = "heigth: 80px")
            //div.hr.col-xs-offset-1.col-xs-8(style="width: 90%; color: black; height: 5px; background-color:#27375C; margin-top: 10px")
            div.col-offset-xs-9
        .container(style = "height: 100px")
            div.col-xs-2
                a.btn.btn-default.btn-rounded.text-center(style="margin-left: 0px; width: 50px; height: 50px; background-color: #27375C; color: white; font-size: 18pt") 8
            div.col-xs(style="margin-left: 10px; margin-right: 0px; margin-top: 10px")
                a.text-muted(style="width:100%; margin-left: 15px; margin-right: 0px; font-size: 18pt; color: #27375C") 함화당과 집경당
                a.text-muted(style="width:100%; margin-left: 15px; margin-right: 0px; font-size: 13pt; color: #27375C") Soju bang
            div.col-xs-2
            div.hr.col-xs-offset-1.col-xs-8(style="width: 90%; color: black; height: 3px; background-color:#27375C; margin-top: 0px")

        .container 
            a.text-muted(style="width:100%; margin-left: 15px; margin-right: 0px; font-size: 12pt; color: #27375C") 함화당은 고종이 각국 사람들을 만나거나 대신과 정부 당상이 만나는 장소이고, 집경당은 철종의 왕후 안동 김씨 효정왕후가 대비로 물러나서 살던 곳이다. 함화당은 서편에, 집경당은 동편에 위치하고 있고 두 전각 모두 남향이다. 
            div.hr(style="width: 100%; color: black; height: 3px; background-color:#27375C; margin-top: 5px")

        

        .container(style="margin-top: 10%")

            center
                a.btn.btn-light.btn-lg.btn-rounded.dim(style="width: 280px; height: 50px; margin-bottom: 10px; background-color: #efefef; color: #27375C"   data-toggle="modal" href="/QRreader") QR READER
                div.modal.fade(id="modal-form1" aria-hidden="true" style="display: none;")
                    div.modal-dialog
                        div.modal-content
                            div.modal-body
                                div.row
                                    p 힌트 어쩌구저쩌구

                a.btn.btn-light.btn-lg.btn-rounded.dim(style="width: 280px; height: 50px; background-color: #efefef; color: #27375C"  data-toggle="modal" href="/answer") ANSWER
                div.modal.fade(id="modal-form2" aria-hidden="true" style="display: none;")
                    div.modal-dialog
                        div.modal-content
                            div.modal-body                                    
                                div.row
                                    p 정답 어쩌구저쩌구


        //script.
        //
        //    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        //    var options = { //지도를 생성할 때 필요한 기본 옵션
        //        center: new daum.maps.LatLng(37.57954825568845, 126.97705489998157), //지도의 중심좌표.
        //        level: 3, //지도의 레벨(확대, 축소 정도)
        //        draggable: false
        //    };
        //
        //    var map = new daum.maps.Map(container, options);
        //    var positions = [
        //        {
        //            title: '경회루',
        //            latlng: new daum.maps.LatLng(37.57977508875224, 126.97603594250991)
        //        }
        //    ];
        //
        //    var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
        //    for (var i = 0; i < positions.length; i ++) {
        //
        //        // 마커 이미지의 이미지 크기 입니다
        //        var imageSize = new daum.maps.Size(24, 35);
        //
        //        // 마커 이미지를 생성합니다
        //        var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize);
        //
        //        // 마커를 생성합니다
        //        var marker = new daum.maps.Marker({
        //            map: map, // 마커를 표시할 지도
        //            position: positions[i].latlng, // 마커를 표시할 위치
        //            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        //            image : markerImage // 마커 이미지
        //        });
        //    }
        //
        //include script.pug