doctype html
html
    head
        include header.pug
        script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=90c0910605f2adef29acb0174f022d52")
    body.body-small.pace-done(scroll="no" style="overflow: hidden; position:fixed; background-color:#A0D097")
        div.row(div id="map" style="width: 120%; height: 87%;")
        div.container-fluid(style="width: 104%")
            div.wrapper.wrapper-content.animated
                div.row
                    center
                        div.container
                            div.col.col-xs-6.justify-content-center
                                a.btn.btn-primary.center-block(style="width:120px; margin-right: 12px;" data-toggle="modal" href="#modal-form") 스토리 보기
                                div.modal.fade(id="modal-form" aria-hidden="true" style="display: none;")
                                    div.modal-dialog
                                        div.modal-content
                                            div.modal-body
                                                div.row
                                                    p 누가누가 살인을했다 그래서 어쩌구 저쩌구
                                                    p 누가누가 살인을했다 그래서 어쩌구 저쩌구
                                                    p 누가누가 살인을했다 그래서 어쩌구 저쩌구
                                                    p 누가누가 살인을했다 그래서 어쩌구 저쩌구
                                                    p 누가누가 살인을했다 그래서 어쩌구 저쩌구
                            div.col.col-xs-6.justify-content-center
                                a.btn.btn-primary.center-block(style="width:120px; margin-left: 12px;") NEXT
        
        script.

            var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
            var options = { //지도를 생성할 때 필요한 기본 옵션
                center: new daum.maps.LatLng(37.57954825568845, 126.97705489998157), //지도의 중심좌표.
                level: 3, //지도의 레벨(확대, 축소 정도)
                draggable: false
            };

            var map = new daum.maps.Map(container, options);
            var positions = [
                {
                    title: '경회루', 
                    latlng: new daum.maps.LatLng(37.57977508875224, 126.97603594250991)
                }
            ];

            var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
            for (var i = 0; i < positions.length; i ++) {
                
                // 마커 이미지의 이미지 크기 입니다
                var imageSize = new daum.maps.Size(24, 35); 
                
                // 마커 이미지를 생성합니다    
                var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize); 
                
                // 마커를 생성합니다
                var marker = new daum.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng, // 마커를 표시할 위치
                    title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image : markerImage // 마커 이미지 
                });
            }

        include script.pug