doctype html
html
    head
        include header.pug
    body(style="overflow-y:hidden;")
        .row(style="margin-top: 20%;")
            center
                h1(style="font-size:50px;") Who killed a Prince?
                h3.text-muted 세자를 죽인 범인을 잡아라
        
        .row-fluid(style="margin-top: 10%;")
            center
                p.text-muted 어쩌구저쩌구 설명 세자를 죽인 놈 설명 등등 어쩌구저쩌구
                p.text-muted 어쩌구저쩌구 설명 세자를 죽인 놈 설명 등등 어쩌구저쩌구
                p.text-muted 어쩌구저쩌구 설명 세자를 죽인 놈 설명 등등 어쩌구저쩌구
                p.text-muted 어쩌구저쩌구 설명 세자를 죽인 놈 설명 등등 어쩌구저쩌구
                p.text-muted 어쩌구저쩌구 설명 세자를 죽인 놈 설명 등등 어쩌구저쩌구
        .row(style="margin-top: 50%;")
            center
                a.btn.btn-default.btn-lg.btn-rounded(href="/scene3" style="width: 200px; height: 50px;") NEXT

        include script.pug