script(src="/assets/js/jquery-2.1.1.js")
script(src="/assets/js/bootstrap.min.js")
script(src="/assets/js/inspinia.js")
script(src="/assets/js/plugins/pace/pace.min.js")
script(src="/assets/js/plugins/slimscroll/jquery.slimscroll.min.js")
script(src="/assets/js/plugins/chosen/chosen.jquery.js")
script(src="/assets/js/plugins/jsKnob/jquery.knob.js")
script(src="/assets/js/plugins/jasny/jasny-bootstrap.min.js")
script(src="/assets/js/plugins/datapicker/bootstrap-datepicker.js")
script(src="/assets/js/plugins/nouslider/jquery.nouislider.min.js")
script(src="/assets/js/plugins/switchery/switchery.js")
script(src="/assets/js/plugins/ionRangeSlider/ion.rangeSlider.min.js")
script(src="/assets/js/plugins/iCheck/icheck.min.js")
script(src="/assets/js/plugins/metisMenu/jquery.metisMenu.js")
script(src="/assets/js/plugins/colorpicker/bootstrap-colorpicker.min.js")
script(src="/assets/js/plugins/clockpicker/clockpicker.js")
script(src="/assets/js/plugins/cropper/cropper.min.js")
script(src="/assets/js/plugins/fullcalendar/moment.min.js")
script(src="/assets/js/plugins/daterangepicker/daterangepicker.js")
script(src="/assets/js/plugins/select2/select2.full.min.js")
script(src="/assets/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js")
script(src="/assets/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js")
script(src="/assets/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js")